
 html
{   
   
   font-family:'Trebuchet MS',sans-serif;
   font-size: 17px;
   padding: 0;
   margin: 0;
   width: 100vw;
   height: 100%;
   background-position: center;
   background-repeat: repeat;
   background-image: url('cartographer.png');
   background-color: rgb(143, 90, 90);


}
body
{
   font-family:'Trebuchet MS',sans-serif;
   font-size: 17px;
   padding: 0;
   margin: 0;
   width: 100vw;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;

  
   display: flex;
   flex-direction: column;
   justify-content: top;
   justify-items: top;
   align-items: center;
}
header
{
   
   height: 10vh;
   width: 100vw;
   border-bottom-width: 0.4vh;
   border-bottom-color:#89043d;
   border-bottom-style: solid;
   padding: 0;
   margin-top: 0;
   margin-left: 0;
   margin-bottom: 40vh;
   background-size:20% 500%;
   background-color: #0d1f2d;
   background-position: left;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: left;
}
spatiu
{
   padding: 0;
   display: inline-flex;
   color: transparent;
   width: 30%;
   height: 100%;
}
logo
{
   margin-left: 6%;
   margin-right: 20%;
   padding: 0;
   display: inline-flex;
   background-image: url('lockheed-logo.png');
   background-size: 100% 510%;
   background-position: center;
   background-repeat: no-repeat;
   height: 100%;
   width: 23%;

}
.button 
{
  background-color: transparent;
   
   color: #9ea3b0;
   height: auto 100% ;
   width: auto 10% ;
   padding: 1% 1%;
   text-align: center;
   font-family: BankGot;
   font-weight: bold;
   font-size-adjust: inherit;
   display:inline-block;
   font-size: 50px ;
   border: 0;
   margin: 0;
   margin-right: 1%;
   cursor: pointer;
   offset-position: center;
   object-position: center;
   transition-duration: 0.2s;
}
.button:hover
{
   background-color: #003366;
   color: white;
   border-left-style: double;
   border-left-width: 0.6vw;
   border-left-color:gold;

}


.button:active
{
   transition-duration: 0s;
   background-color: rgb(81, 81, 172);
   border-bottom-color: yellow;
}
.container
{
   display: inline-flexbox;
   width: 100vw;
   background-color: rgba(169, 169, 169, 0.452);
   padding: 0;
   margin: 0;
   color: black;
   margin-bottom: 10vh;
   height: auto;
   font-size: auto;
   justify-content: center;
   text-align: center;
   align-content: center;
   max-block-size: 20vh 30vw;
   
}
#my
{
   zoom: 90%;
}






